@charset "utf-8";
/* CSS Document */

body{
	background:#ccc;
	font:76% Verdana,Helvetica,sans-serif;
}

.clean{
	clear:both;
}
#data{
	margin-left:120px;
	
}

#data td{
	padding: 5px 0;	
}

#data tr td:first-child{
	width: 150px;	
}

#wrapper{
	width:960px;
	margin:0 auto;
	-moz-box-shadow: 1px 1px 10px #292929; 
	-webkit-box-shadow: 1px 1px 10px #292929;
	-o-box-shadow: 1px 1px 10px #292929;
	box-shadown:1px 1px 10px #292929;
}

#header{
	 width:960px;
	 height:160px;
	 background:#ccc;
	 display:inline-block;
}

#header h1{
	font-family:Comic Sans MS;
	font-weight:bold;
	font-size:60px;
	margin-left:40px;
	margin-top:50px;
	
}
#header h1 a{
	color:#0080FF;
}

#header h2{
	margin-left:20px;
	font-weight:bold;
	font-size:20px;
	color:#0080FF;
}

#garis{
	width:960px;
	height:20px;
	background:#0080FF;
}

#content{
	width:960px;
	background:#ffffff;
	display:inline-block;
	padding-bottom:20px;
}



#menu {
	width:940px;
	height:40px;
	background:#0080FF;
	margin:0 auto;
	margin-top:10px;
	border:2px solid #000000;
}

#main_menu{
	float:left;
}
#main_menu li{
	float:left;
	padding:13px 15px 13px 15px;
	font-size:15px;
	font-weight:bold;
	display:block;
	border-right:1px solid #000000;
	cursor:pointer;
}
#main_menu li:hover{
	background:#3d56a8;
}

#main_menu li a{
	font-family:Berlin Sans FB Demi;
	color:#ffffff;
	display:inline-block;
}
#main_menu li a:hover{
	color:#000000;
}

#isi_content {
	width:940px;
	margin:0 auto;
	background:#eeeeee;
	margin-top:5px;
	display:inline-block;
	margin-left:10px;
}

#isi_content p{
	margin-top:5px;
	padding-bottom:20px;
	display:inline-block;
	
}
#isi_content h1{
	margin-left:65px;
	font-size:24px;
	font-weight:bold;
	margin-bottom:10px;
}


#isi_content h2{
	font-family:Berlin Sans FB Demi;
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
	width:700px;
	margin:0 auto;
	text-align:center;
	padding-bottom:5px;
}
#isi_content h3{
	font-family:Berlin Sans FB Demi;
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
	width:300px;
	margin:0 auto;
	padding-left:70px;
	padding-bottom:5px;

}

#isi_content .content_kiri{
	margin-left:20px;
	margin-top:20px;
	
	padding-bottom:5px;
	width:400px;
	float:left;
}

#isi_content .content_kiri h1{
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:20px;
	
}

#isi_content .content_kanan{
	float:left;
	width:500px;
	
	margin-top:20px;
}
#isi_content .content_kanan h2{
	font-size:20px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:20px;
	float:left;
	width:500px;
	text-align:center;
	
}
#box_image{
	margin:0 auto;
	width:800px;

}
#box_image img{
	float:left;
	
}
#isi_content .profil{
	width:800px;
		
}

#isi_content .profil p{
	font-size:15px;
	margin-top:10px;
	width:800px;
	margin-left:70px;
	margin-bottom:5px;
}

#box_image img{
	float:left;
	
}

#footer{
	width:480px;
	height:20px;
	background:#ccc;

	
	font-family:Comic Sans MS;
	font-weight:bold;
	font-size:12px;
	margin-left:380px;
	margin-top:0px;
	
}



#input {
	border-collapse: separate;
	margin-left:20px;
	margin-bottom:30px;
}
#input p{
	font-size:13px;
	font-weight:bold;
	color:#333333;
}


#input td{
		padding: 2px;
		border-bottom: 1px solid #cccccc;
	
		color:#2a5a7a;
}

.button{
	
	padding:5px 10px 5px 10px;
	border: 1px solid #b4b4b4;
	color:#ffffff;
	font-weight: bold;
	font-size:15px;
	cursor: pointer;
	
		background-image: -moz-linear-gradient(top, #00000 2%, #0080FF 3%, #0080FF);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
																	color-stop(.1, #2a5a7a),
																	to(#2a5a7a));
			
						/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2a5a7a, endColorstr=#2a5a7a);
						/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fb4b4b4, endColorstr=#b4b4b4)";	
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	-o-border-radius: .2em;
	-khtml-border-radius: .2em;
	border-radius: .2em;
	
}
.button:hover{
	color:red;
	
}
#list_user{
	border-collapse: separate;
	width:500px;
	margin:0 auto;
	
	
	
}
#list_user td{
	border-bottom: 1px solid #c9c9c9;	
	border-top: 1px solid #ffffff;
	padding:3px;
	
}
#list_user th{
		background-image: -moz-linear-gradient(top, #0080FF , #0080FF);
		background: -webkit-gradient(linear, left top, left bottom, from( #467aa7), to(#467aa7));
			
						/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#467aa7, endColorstr=#467aa7);
						/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#467aa7, endColorstr=#467aa7)";
		
		color: #ffffff;
		text-shadow: 1px 1px #2a5a7a;
		font-weight: bold;
		border-bottom:1px solid #000000;
		border-top:1px solid #000000;
		padding:10px 5px 10px 5px;
		margin-top:5px;
		
}
/* */
#list_produk{
	border-collapse: separate;
	width:700px;
	margin:0 auto;
	
	
	
}
#list_produk td{
	border-bottom: 1px solid #c9c9c9;	
	border-top: 1px solid #ffffff;
	padding:3px;
	
}
#list_produk th{
		background-image: -moz-linear-gradient(top, #0080FF , #0080FF);
		background: -webkit-gradient(linear, left top, left bottom, from( #467aa7), to(#467aa7));
			
						/* For Internet Explorer 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#467aa7, endColorstr=#467aa7);
						/* For Internet Explorer 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#467aa7, endColorstr=#467aa7)";
		
		color: #ffffff;
		text-shadow: 1px 1px #2a5a7a;
		font-weight: bold;
		border-bottom:1px solid #000000;
		border-top:1px solid #000000;
		padding:10px 5px 10px 5px;
		margin-top:5px;
		
}
.baris2{
	background:#ffffff;

	
}

/* paging */
div.paging {
	padding     : 2px;
	margin      : 2px;
	text-align  : center;
	font-family : Tahoma;
	font-size   : 12px;
}
div.paging a {
	padding             : 2px 6px;
	margin-right        : 2px;
	border              : 1px solid #DEDFDE;
	text-decoration     : none; 
	color               : #0061DE;
	background-position : bottom;
}
div.paging a:hover {
	border : 1px solid #000000;
	color  : #0061DE;
}
div.paging span.current {
	padding      : 2px 6px;
	margin-right : 2px;
	font-weight  : bold;
	color        : #FF0084;
}
div.paging span.disabled {
	padding      : 2px 6px;
	margin-right : 2px;
	color        : #ADAAAD;
	font-weight  : bold;
}
div.paging span.prevnext {
  font-weight : bold;
}
div.paging span.prevnext a {
  border : none;
}
div.paging span.prevnext a:hover {
	border : 1px solid #000000;
	color  : #0061DE;
}

#select {
	width:155px;
	margin-left:2px;
}
/*---------- */

#form_login{
	border-collapse: separate;
	width:200px;
	margin:0 auto;
}
#form_login p{
	font-size:13px;
	font-weight:bold;
	color:#333333;
}


#form_login td{
		padding: 2px;
		border-bottom: 1px solid #cccccc;
	
		color:#2a5a7a;
}
